@model User
@{
    ViewData["Title"] = "User Details";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Movie" asp-action="home"><i class="badge-info bi-film"></i>MovieWorld</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <ul class="navbar-nav flex-grow-1 float-end">


                    @*    <a class="nav-link " asp-controller="User" asp-action="Index" role="button" data-toggle="button">
                    <i class="bi bi-gear"> </i>Management
                    </a>*@

                    <a class="nav-link" asp-controller="User" asp-action="create" role="button" data-toggle="button">
                        <i class="bi bi-person-plus-fill"></i> Register
                    </a>
                    <a class="nav-link text-dark" asp-controller="Movie" asp-action="login" role="button" data-toggle="button">
                        <i class="bi bi-box-arrow-left"></i> Logout
                    </a>




                </ul>

            </div>
        </div>
    </nav>
</header>
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.Fname @Model.Lname</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="text-center">
                    <img class="border-info rounded-circle" src="@Model.profileUrl" alt="@Model.Fname @Model.Lname" style="max-width:150px" />
                </div>



                <div class="form-group">
                    <span asp-validation-for="Fname" class="text-danger"></span>
                    <label asp-for="Fname" class="control-label">First Name</label>
                    <input asp-for="Fname" class="form-control" readonly />

                </div>
                <div class="form-group">
                    <span asp-validation-for="Lname" class="text-danger"></span>
                    <label asp-for="Lname" class="control-label">Last Name</label>
                    <input asp-for="Lname" class="form-control" readonly />

                </div>
                <div class="form-group">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" readonly />

                </div>


                <div class="form-group">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" type="password" readonly />

                </div>
                <div class="form-group">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" readonly />

                </div>
                <div class="form-group">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                    <label asp-for="Phone" class="control-label">Phone</label>
                    <input asp-for="Phone" class="form-control" type="tel" readonly />

                </div>
                <div class="form-group">
                    <span asp-validation-for="Address" class="text-danger"></span>
                    <label asp-for="Address" class="control-label">Address</label>
                    <input asp-for="Address" class="form-control" readonly />

                </div>
                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="profileUrl" class="text-danger"></span>
                    <label asp-for="profileUrl" class="control-label"></label>
                    <input asp-for="profileUrl" class="form-control" readonly />

                </div>

                <br />
                <div class="form-group">

                    <a class="btn btn-outline-success float-end" asp-controller="User" asp-action="edit" asp-route-id="@Model.Id">Edit</a>

                </div>




            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

 }


